{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}



<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <span class="govuk-caption-l">Report your income and expenses</span>
          <h1 class="govuk-heading-l">Vehicle expenses</h1>
          <br>


                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        How do you want to report your vehicle expenses for the period 20 April 2021 to 19 May 2021?
                      </h2>
                    </legend>
                    <div class="govuk-hint">
                      The flat rate is charged at 24 pence per mile. It covers fuel, insurance and anything else you've spent on your vehicle.
                    </div>
                    <div class="govuk-hint">
                      If you report actual costs, you'll need to add up what you've spent.
                    </div>

                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="flat-rate" name="vehicle-expenses-type" type="radio" value="flat-rate">
                        <label class="govuk-label govuk-radios__label" for="flat-rate">
                          I want to use the flat rate
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="actual-costs" name="vehicle-expenses-type" type="radio" value="actual-costs">
                        <label class="govuk-label govuk-radios__label" for="actual-costs">
                          I want to report actual costs
                        </label>
                      </div>
                    </div>


                    <br>


            <button type="submit" class="govuk-button">
              Next
            </button>
            <br>

          </form>

        </div>

      </div>



    </main>
  </div>
  {% endblock %}
